/**
 * Generic Base Styles
 */

html {
    font-size: 100;
}

body {
    font-family: $body-font-family;
    color: $brand-grey;
    line-height: $body-line-height;
    font-size: $small-font-size;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    font-weight: 400;
    color: $header-color;
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
    @include breakpoint-md {
      font-size: 54px;
    }
}

h2 {
    font-size: $font-size * 1.6875;
}

h3 {
    font-size: $font-size * 1.375;
}

h4 {
    font-size: $font-size * 1.2;
}

h5 {
    font-size: $font-size;
}

h6 {
    font-size: $font-size;
}

img {
    border: 0;
    max-width: 100%;
    display: block;
    margin: inherit auto;
}

hr {
    margin-top: 52px;
    margin-bottom: 52px;
    border: 0;
    color: $color-base;
    display: block;
    height: 26px;
    margin-right: auto;
    margin-left: auto;
    background-size: 100% 26px;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, $color-base 11px, $color-base 15px, transparent 15px, transparent 26px);
    width: 100px;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: $visited-link-color;
    }
}

b,
strong {
    font-weight: 500;
}

ul {
    list-style: square;
    & li {
        padding: 0 5px;
        margin-bottom: 10px;
    }
}

p {
    line-height: $body-line-height;
    margin-bottom: $body-line-height * 1em;
}

blockquote {
    padding: 0;
    font-style: italic;
    text-align: center;
}

figure {
    display: block;
    width: 100%;
    height: auto;
}

figcaption {
    color: $color-base;
    font-size: $font-size;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}

.layout {
    lost-center: $layout-width;
}

.content {
    &__inner {
        padding: 25px 20px;
    }
}

@include breakpoint-md {
  figure.float-left,
  figure.float-right {
      max-width: 310px;
  }
  .float-right {
      float: right;
  }
  .float-left {
      float: left;
  }
  .content {
      lost-column: 7/12;
      &__inner {
          padding: 30px 20px;
      }
  }
}

@include breakpoint-lg {
    .content {
        lost-column: 2/3;
        &__inner {
            padding: 40px 35px;
        }
    }
}
