html
  head
    link(href ="css/style.css", rel="stylesheet")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css', integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    link(href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Open+Sans:300,400,700', rel='stylesheet')
  body
    
    script.
      $(document).ready(function(){
        $(".hamburger").click(function(){
          $(".main-nav").toggleClass("collapsed");
        });
      });
    .header-wrapper
      .eyebrow-wrapper
        .eyebrow
          .socials
            a(href="https://www.facebook.com/Cosmetic.Plastic.Surgery.Ctr/" target="_blank") <i class="fab fa-facebook-square"></i>
            a(href="https://twitter.com/seedoctord?lang=en" target="_blank") <i class="fab fa-twitter-square"></i>
            a(href="https://plus.google.com/u/0/104899294954700051081" target="_blank") <i class="fab fa-google-plus-square"></i>
      .logo-address-wrapper
        .logo-address
          .logo
            a(href="/index.html")
              img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/doctor-d-logo.png", alt="Dr. DiMercurio")
          .addresses
            .address.first
              h4 Hagerstown, MD
              p 11110 Medical Campus Rd Ste 241
              a(href="tel:3017144460") 301.714.4460
            .address.second
              h4 Chambersburg, PA
              p 49 St. Paul Drive
              a(href="tel:7172611620") 717.261.1620
          .hamburger
            <i class="fas fa-bars"></i>
      .main-nav-wrapper
        .main-nav.collapsed
          ul
            li
              a(href="/body.html") Face
            li
              a(href="/body.html" style="font-weight: 700;") Body
            li
              a(href="/body.html") Breast
            li
              a(href="/body.html") Skin
            li
              a(href="/body.html") Products
            li
              a(href="/body.html") Specials
            li
              a(href="/body.html") Meet the Team
            li
              a(href="/blog-listing.html") Blog
            li
              a(href="/contact.html") Contact
  .services.body-page
    .hero-wrapper
      .hero
        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/hero-body.jpg", alt="")
      .hero-header
        .text-section
            h1 Body
    .page-body
        .content-section.surgical
            h2 Surgical
            .icon-section
                a(href="/hair-removal.html")
                    .icon-text
                        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-tummy-tuck.png", alt="")
                        h4 Tummy Tuck
                a(href="/hair-removal.html")
                    .icon-text
                        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-body.png", alt="")
                        h4 Liposuction
                a(href="/hair-removal.html")
                    .icon-text
                        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-arm-lift.png", alt="")
                        h4 Arm Lift
                a(href="/hair-removal.html")
                    .icon-text
                        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-thigh-lift.png", alt="")
                        h4 Thigh Lift
        .content-section.non-surgical
            h2 Non-Surgical
            .icon-section
                a(href="/hair-removal.html")
                    .icon-text
                        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-massage-therapy.png", alt="")
                        h4 Massage Therapy
                a(href="/hair-removal.html")
                    .icon-text
                        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-body-contouring.png", alt="")
                        h4 Body Contouring
                a(href="/hair-removal.html")
                    .icon-text
                        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-hair-removal.png", alt="")
                        h4 Hair Removal
                a(href="/hair-removal.html")
                    .icon-text
                        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-tattoo-removal.png", alt="")
                        h4 Tattoo Removal
  footer
    .top-footer-wrapper
      .top-footer
        .footer-col.first
            .site-map
                h4 Site Map
                ul
                    li
                        a(href="/index.html") Home
                    li
                        a(href="/body.html") Face
                    li
                        a(href="/body.html") Body
                    li
                        a(href="/body.html") Breast
                    li
                        a(href="/body.html") Skin
                    li
                        a(href="/body.html") Products
                    li
                        a(href="/body.html") Specials
                    li
                        a(href="/body.html") Meet the Team
                    li
                        a(href="/blog-listing.html") Blog
                    li
                        a(href="/contact.html") Contact
        .footer-col.second
            .company-info.first
                .address
                    h4 Hagerstown Office
                    p 11110 Medical Campus Rd
                    p Ste 241
                    p Hagerstown, MD 21742
                .phone
                    h4 Phone
                    a(href="tel:3017144460") 301.714.4460
                .hours
                    h4 Hours
                    p Monday - Friday: 8:00-4:00
        .footer-col.third
            .company-info.second
                .address
                    h4 Chambersburg Office
                    p 49 St. Paul Drive
                    p Chambersburg, PA 17201
                .phone
                    h4 Phone
                    a(href="tel:7172611620") 717.261.1620
                .hours
                    h4 Hours
                    p Monday - Thursday: 8:00-4:30
                    p Friday: 8:00-3:00
    .copyright-wrapper
      .copyright
        .text-section
            p
                | Copyright 2018 Cosmetic Plastic Surgery Center | 
                a(href="") Privacy Policy
        .socials
            a(href="https://www.facebook.com/Cosmetic.Plastic.Surgery.Ctr/" target="_blank") <i class="fab fa-facebook-square"></i>
            a(href="https://twitter.com/seedoctord?lang=en" target="_blank") <i class="fab fa-twitter-square"></i>
            a(href="https://plus.google.com/u/0/104899294954700051081" target="_blank") <i class="fab fa-google-plus-square"></i>