html
  head
    link(href ="css/style.css", rel="stylesheet")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css', integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    link(href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Open+Sans:300,400,700', rel='stylesheet')
  body
    
    script.
      $(document).ready(function(){
        $(".hamburger").click(function(){
          $(".main-nav").toggleClass("collapsed");
        });
      });
    .header-wrapper
      .eyebrow-wrapper
        .eyebrow
          .socials
            a(href="https://www.facebook.com/Cosmetic.Plastic.Surgery.Ctr/" target="_blank") <i class="fab fa-facebook-square"></i>
            a(href="https://twitter.com/seedoctord?lang=en" target="_blank") <i class="fab fa-twitter-square"></i>
            a(href="https://plus.google.com/u/0/104899294954700051081" target="_blank") <i class="fab fa-google-plus-square"></i>
      .logo-address-wrapper
        .logo-address
          .logo
            a(href="/index.html")
              img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/doctor-d-logo.png", alt="Dr. DiMercurio")
          .addresses
            .address.first
              h4 Hagerstown, MD
              p 11110 Medical Campus Rd Ste 241
              a(href="tel:3017144461") 301.714.4461
            .address.second
              h4 Chambersburg, PA
              p 49 St. Paul Drive
              a(href="tel:7172611620") 717.261.1620
          .hamburger
            <i class="fas fa-bars"></i>
      .main-nav-wrapper
        .main-nav.collapsed
          ul
            li
              a(href="/body.html") Meet the Team
            li
              a(href="/body.html") Face
            li
              a(href="/body.html") Body
            li
              a(href="/body.html") Breast
            li
              a(href="/body.html") Skin
            li
              a(href="/body.html") Products
            li
              a(href="/body.html") Specials
            li
              a(href="/blog-listing.html") Blog
            li
              a(href="/contact.html") Contact
  .sub-page.hair-removal
    .hero-wrapper
      .hero
        img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/hero-hair-removal.jpg", alt="")
      .hero-header
        .text-section
            h1 Hair Removal
    .content-section-wrapper
        .content-section
            h4 Long-Term, Effective Hair Removal
            p Hair removal is one of the most common non-surgical treatments in the US. This aesthetic treatment eliminates the inconvenience and hassle of weekly shaving, waxing, and plucking. It’s also more effective than popularized hair removal solutions like threading and hair removal creams.
            p Non-surgical hair removal options at the Cosmetic Plastic Surgery Center include Venus Versa™ and cynosure treatments.
            h4 Cynosure Hair Removal
            p Cynosure* treatment provides long-lasting results if you’re looking for effective, long-term hair removal. The treatment uses a small laser beam that passes through the skin to target individual hair follicles. Used almost anywhere on the body, the intense heat from the laser burns the hair follicle and prevents future growth.
            .body-cta
                span#hs-cta-wrapper-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-wrapper
                    span#hs-cta-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-node.hs-cta-2a8fcf23-6dc3-440f-b683-3317e9224eaa
                        a(href='https://cta-redirect.hubspot.com/cta/redirect/4435595/2a8fcf23-6dc3-440f-b683-3317e9224eaa')
                            img#hs-cta-img-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-img(style='border-width:0px;', src='https://no-cache.hubspot.com/cta/default/4435595/2a8fcf23-6dc3-440f-b683-3317e9224eaa.png', alt='Request a Consultation')
                    script(charset='utf-8', src='https://js.hscta.net/cta/current.js')
                    script(type='text/javascript').
                        hbspt.cta.load(4435595, '2a8fcf23-6dc3-440f-b683-3317e9224eaa', {});
            .before-after
                .before
                    img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/hair-removal-before.png", alt="")
                    h2 Before
                .after
                    img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/hair-removal-after.jpg", alt="")
                    h2 After
            h4 Venus Versa™
            p Venus Versa™** is an FDA-approved treatment from Venus Concept. It’s a versatile multi-applicator platform that effectively removes body and facial hair nearly anywhere. Venus Versa™ SmartPulse™ technology ensures precise and consistent energy application to remove hair follicles. The device’s various applicator sizes allow faster and more accurate treatments that deliver longer lasting results. 
            p The Cosmetic Plastic Surgery Center provides long-lasting hair removal results using Venus Versa™ and Cynosure hair removal. Call today for a free consultation.
            .body-cta
                span#hs-cta-wrapper-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-wrapper
                    span#hs-cta-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-node.hs-cta-2a8fcf23-6dc3-440f-b683-3317e9224eaa
                        a(href='https://cta-redirect.hubspot.com/cta/redirect/4435595/2a8fcf23-6dc3-440f-b683-3317e9224eaa')
                            img#hs-cta-img-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-img(style='border-width:0px;', src='https://no-cache.hubspot.com/cta/default/4435595/2a8fcf23-6dc3-440f-b683-3317e9224eaa.png', alt='Request a Consultation')
                    script(charset='utf-8', src='https://js.hscta.net/cta/current.js')
                    script(type='text/javascript').
                        hbspt.cta.load(4435595, '2a8fcf23-6dc3-440f-b683-3317e9224eaa', {});
            .disclaimers
                p.small *This non-surgical treatment is available only in the Cosmetic Plastic Surgery Center Chambersburg, PA office.
                p.small **This non-surgical treatment is available only in the Cosmetic Plastic Surgery Center Hagerstown, MD office.
  footer
    .top-footer-wrapper
      .top-footer
        .footer-col.first
            .site-map
                h4 Site Map
                ul
                    li
                        a(href="/index.html") Home
                    li
                        a(href="/body.html") Meet The Team
                    li
                        a(href="/body.html") Face
                    li
                        a(href="/body.html") Body
                    li
                        a(href="/body.html") Breast
                    li
                        a(href="/body.html") Skin
                    li
                        a(href="/body.html") Products
                    li
                        a(href="/body.html") Specials
                    li
                        a(href="/blog-listing.html") Blog
                    li
                        a(href="/contact.html") Contact
        .footer-col.second
            .company-info.first
                .address
                    h4 Hagerstown Office
                    p 11110 Medical Campus Rd
                    p Ste 241
                    p Hagerstown, MD 21742
                .phone
                    h4 Phone
                    a(href="tel:3017144461") 301.714.4461
                .hours
                    h4 Hours
                    p Monday - Friday: 8:00-4:00
        .footer-col.third
            .company-info.second
                .address
                    h4 Chambersburg Office
                    p 49 St. Paul Drive
                    p Chambersburg, PA 17201
                .phone
                    h4 Phone
                    a(href="tel:7172611620") 717.261.1620
                .hours
                    h4 Hours
                    p Monday - Thursday: 8:00-4:30
                    p Friday: 8:00-3:00
    .copyright-wrapper
      .copyright
        .text-section
            p
                | Copyright 2018 Cosmetic Plastic Surgery Center | 
                a(href="/index.html") Privacy Policy
        .socials
            a(href="https://www.facebook.com/Cosmetic.Plastic.Surgery.Ctr/" target="_blank") <i class="fab fa-facebook-square"></i>
            a(href="https://twitter.com/seedoctord?lang=en" target="_blank") <i class="fab fa-twitter-square"></i>
            a(href="https://plus.google.com/u/0/104899294954700051081" target="_blank") <i class="fab fa-google-plus-square"></i>