html
  head
    link(href ="css/style.css", rel="stylesheet")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css', integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    link(href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Open+Sans:300,400,700', rel='stylesheet')
  body
    
    script.
      $(document).ready(function(){
        $(".hamburger").click(function(){
          $(".main-nav").toggleClass("collapsed");
        });
      });
    .header-wrapper
      .eyebrow-wrapper
        .eyebrow
          .socials
            a(href="https://www.facebook.com/Cosmetic.Plastic.Surgery.Ctr/" target="_blank") <i class="fab fa-facebook-square"></i>
            a(href="https://twitter.com/seedoctord?lang=en" target="_blank") <i class="fab fa-twitter-square"></i>
            a(href="https://plus.google.com/u/0/104899294954700051081" target="_blank") <i class="fab fa-google-plus-square"></i>
      .logo-address-wrapper
        .logo-address
          .logo
            a(href="/index.html")
              img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/doctor-d-logo.png", alt="Dr. DiMercurio")
          .addresses
            .address.first
              h4 Hagerstown, MD
              p 11110 Medical Campus Rd Ste 241
              a(href="tel:3017144460") 301.714.4460
            .address.second
              h4 Chambersburg, PA
              p 49 St. Paul Drive
              a(href="tel:7172611620") 717.261.1620
          .hamburger
            <i class="fas fa-bars"></i>
      .main-nav-wrapper
        .main-nav.collapsed
          ul
            li
              a(href="/body.html") Face
            li
              a(href="/body.html") Body
            li
              a(href="/body.html") Breast
            li
              a(href="/body.html") Skin
            li
              a(href="/body.html") Products
            li
              a(href="/body.html") Specials
            li
              a(href="/body.html") Meet the Team
            li
              a(href="/blog-listing.html") Blog
            li
              a(href="/contact.html") Contact
    .homepage
      .hero-wrapper
        .hero
          img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/hero-smile.jpg", alt="")
        .hero-header
          .text-section
            h1 Find confidence in a renewed you.
            .hero-cta
              span#hs-cta-wrapper-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-wrapper
                span#hs-cta-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-node.hs-cta-2a8fcf23-6dc3-440f-b683-3317e9224eaa
                  a(href='https://cta-redirect.hubspot.com/cta/redirect/4435595/2a8fcf23-6dc3-440f-b683-3317e9224eaa')
                    img#hs-cta-img-2a8fcf23-6dc3-440f-b683-3317e9224eaa.hs-cta-img(style='border-width:0px;', src='https://no-cache.hubspot.com/cta/default/4435595/2a8fcf23-6dc3-440f-b683-3317e9224eaa.png', alt='Request a Consultation')
                script(charset='utf-8', src='https://js.hscta.net/cta/current.js')
                script(type='text/javascript').
                  hbspt.cta.load(4435595, '2a8fcf23-6dc3-440f-b683-3317e9224eaa', {});
      .about-blurb-wrapper
        .about-blurb
          .text-section
            h2 What We Do
            p Enhance your natural beauty, boost your self-confidence, and feel great again with surgical procedures and non-surgical treatments from the Cosmetic Plastic Surgery Center.
          .icon-section
            a(href="/body.html")
              .icon-text
                img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-face.png", alt="Face")
                h4 Face
            a(href="/body.html")
              .icon-text
                img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-body.png", alt="Body")
                h4 Body
            a(href="/body.html")
              .icon-text
                img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-breast.png", alt="Breast")
                h4 Breast
            a(href="/body.html")
              .icon-text
                img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-skin.png", alt="Skin")
                h4 Skin
            a(href="/body.html")
              .icon-text
                img(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/thumbnail-for-the-man.png", alt="For The Man")
                h4 For The Man
          .section-cta
            span#hs-cta-wrapper-19b50215-bea8-4b75-bc6b-630da3bfcb01.hs-cta-wrapper
              span#hs-cta-19b50215-bea8-4b75-bc6b-630da3bfcb01.hs-cta-node.hs-cta-19b50215-bea8-4b75-bc6b-630da3bfcb01
                a(href='https://cta-redirect.hubspot.com/cta/redirect/4435595/19b50215-bea8-4b75-bc6b-630da3bfcb01')
                  img#hs-cta-img-19b50215-bea8-4b75-bc6b-630da3bfcb01.hs-cta-img(style='border-width:0px;', src='https://no-cache.hubspot.com/cta/default/4435595/19b50215-bea8-4b75-bc6b-630da3bfcb01.png', alt='Meet the Team')
              script(charset='utf-8', src='https://js.hscta.net/cta/current.js')
              script(type='text/javascript').
                hbspt.cta.load(4435595, '19b50215-bea8-4b75-bc6b-630da3bfcb01', {});
      .specials-wrapper
        .specials
          h2 Specials
          .special-boxes
            .special.first
              .text-section
                h3 $100 OFF
                p each CoolSculpt treatment site
            .special.second
              .text-section
                h3 $50 OFF
                p each 1ml injectable filler - Restylane, Juvederm
            .special.third
              .text-section
                h3 20% OFF
                p Select Colorescience and PCA products
          .section-cta
            span#hs-cta-wrapper-7995c94c-2ceb-4b12-a58e-317075d6bef6.hs-cta-wrapper
              span#hs-cta-7995c94c-2ceb-4b12-a58e-317075d6bef6.hs-cta-node.hs-cta-7995c94c-2ceb-4b12-a58e-317075d6bef6
                a(href='https://cta-redirect.hubspot.com/cta/redirect/4435595/7995c94c-2ceb-4b12-a58e-317075d6bef6')
                  img#hs-cta-img-7995c94c-2ceb-4b12-a58e-317075d6bef6.hs-cta-img(style='border-width:0px;', src='https://no-cache.hubspot.com/cta/default/4435595/7995c94c-2ceb-4b12-a58e-317075d6bef6.png', alt='View All Products')
              script(charset='utf-8', src='https://js.hscta.net/cta/current.js')
              script(type='text/javascript').
                hbspt.cta.load(4435595, '7995c94c-2ceb-4b12-a58e-317075d6bef6', {});
          .specials-text
            p Call the office for details. Some restrictions may apply.
      .testimonial-wrapper
        .testimonial
          .text-section
            img.double-quote(src="https://cdn2.hubspot.net/hubfs/4435595/Website%20Project/quotes.png", alt="")
            p.quote Aenean congue, magna quis facilisis pharetra, erat dui maximus libero, in aliquet enim lacus imperdiet elit. Suspendisse tempor tempor arcu sit amet scelerisque. Proin luctus varius condimentum.
            p.quotee Jane Smith - Hagerstown, MD
          .img-section
            img(src="http://via.placeholder.com/450x600", alt="")
      .blog-section-wrapper
        .recent-blogs
          .most-recent
            .blog-header
              h3.post-title Vivamus venenatic urna at faucibus velit ornare
              p.post-body Nulla facilisi. Donec ullamcorper, nunc ac fringilla blandit, mauris tortor cursus enim, id vestibulum nibh risus ut turpis.
              a.read-more(href="/blog-post-1.html") Read More <i class="fas fa-angle-double-right"></i>
          .other-recent
            .other-blog.first
              h4.post-title Praesent lacus ipsum, tincidunt vel magna sit amet, placerat fringilla metus arci
              a.read-more(href="/blog-post-1.html") Read Post <i class="fas fa-angle-double-right"></i>
              hr
            .other-blog.second
              h4.post-title Duis eu ipsum tincidunt ante imperdiet congue, Ut pulvinar pharetra eleifend
              a.read-more(href="/blog-post-1.html") Read Post <i class="fas fa-angle-double-right"></i>
              hr
            .view-all
              a.view-all-posts(href="/blog-listing.html") View All Blog Posts <i class="fas fa-angle-double-right"></i>
      .sub-fb-wrapper
        .subscribe
          .sub-section
            .section-title
              h2 Subscribe to the Dr. D Newsletter!
            .subscribe-form
              script(charset='utf-8', type='text/javascript', src='//js.hsforms.net/forms/v2.js')
              script.
                hbspt.forms.create({
                portalId: "4435595",
                formId: "e8658c78-40b4-4533-b521-4a6005be29a2"
                });
          .facebook-section
            .fb-feed
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCosmetic.Plastic.Surgery.Ctr%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      .map-section-wrapper
        .map-section
          a.map.first(href="https://www.google.com/maps/place/11110+Medical+Campus+Rd,+Hagerstown,+MD+21742/@39.6221207,-77.6860604,17z/data=!3m1!4b1!4m5!3m4!1s0x89c9ecedfdf78863:0x26b0fd10e5adfda5!8m2!3d39.6221207!4d-77.6838717" target="_blank" style="background: url('https://cdn2.hubspot.net/hubfs/4435595/map-hagerstown-new.jpg');")
          a.map.second(href="https://www.google.com/maps/place/49+St+Paul+Dr,+Chambersburg,+PA+17201/@39.941311,-77.6422137,17z/data=!3m1!4b1!4m5!3m4!1s0x89c99e656335bbc3:0xf3f9859d5ac07fff!8m2!3d39.941311!4d-77.640025" target="_blank" style="background: url('https://cdn2.hubspot.net/hubfs/4435595/map-chambersburg-new.jpg')")
    footer
      .top-footer-wrapper
        .top-footer
          .footer-col.first
            .site-map
              h4 Site Map
              ul
                li
                  a(href="/index.html") Home
                li
                  a(href="/body.html") Face
                li
                  a(href="/body.html") Body
                li
                  a(href="/body.html") Breast
                li
                  a(href="/body.html") Skin
                li
                  a(href="/body.html") Products
                li
                  a(href="/body.html") Specials
                li
                  a(href="/body.html") Meet the Team
                li
                  a(href="/blog-listing.html") Blog
                li
                  a(href="/contact.html") Contact
          .footer-col.second
            .company-info.first
              .address
                h4 Hagerstown Office
                p 11110 Medical Campus Rd
                p Ste 241
                p Hagerstown, MD 21742
              .phone
                h4 Phone
                a(href="tel:3017144460") 301.714.4460
              .hours
                h4 Hours
                p Monday - Friday: 8:00-4:00
          .footer-col.third
            .company-info.second
              .address
                h4 Chambersburg Office
                p 49 St. Paul Drive
                p Chambersburg, PA 17201
              .phone
                h4 Phone
                a(href="tel:7172611620") 717.261.1620
              .hours
                h4 Hours
                p Monday - Thursday: 8:00-4:30
                p Friday: 8:00-3:00
      .copyright-wrapper
        .copyright
          .text-section
            p
              | Copyright 2018 Cosmetic Plastic Surgery Center | 
              a(href="/index.html") Privacy Policy
          .socials
            a(href="https://www.facebook.com/Cosmetic.Plastic.Surgery.Ctr/" target="_blank") <i class="fab fa-facebook-square"></i>
            a(href="https://twitter.com/seedoctord?lang=en" target="_blank") <i class="fab fa-twitter-square"></i>
            a(href="https://plus.google.com/u/0/104899294954700051081" target="_blank") <i class="fab fa-google-plus-square"></i>